{% extends "_global/index.html" %}

{% block main %}
    <!--<a href="#" onclick="addBookmark({{client.client_id }});">Add to bookmark</a>-->
    <h1>{{ client.first_name|escape}}</h1>
    <h1>{{ client.last_name|escape}}</h1>
    <p>Izdato clientu :<a href ="{{ BASE }}hall/{{ hall.hall_id }}">{{ hall.hall_name|escape}}</a>{{ hall.seating_capacity|escape}}</p>
    <ul>
        {% for room in rooms %}
        <li class="card row">
            <div class="col-12 col-sm-2">
                <a href="{{ BASE }}room/{{ room.room_id }}" class="room-big-image">
                    <img src="{{ BASE }}assets/uploads/{{ room.room_id }}.jpg" 
                    alt="velika slika {{ room.room_id }}" class="width-100-percent">
                </a>
            </div>
            <div class="col-12 col-md-9">
                <a href="{{ BASE }}room/{{ room.room_id }}" class="room-title">
                    {{ room.room_name|escape }}
                </a><br>
                <span class="room-description">{{ room.bed_capacity|escape }}</span>
            </div>
            <div class="col-12 col-sm-1">
                <span class="room-price">{{ room.room_cena|escape }} RSD</span>
            </div>
        {% endfor %}
    </ul>
{% endblock %}

{% block naslov %}
{{ client.first_name|escape}}
{% endblock %}