{% extends "_global/index.html" %}

{% block main %}
    <h1>{{ floor.floor_name|escape}}</h1>
    <p>{{ floor.floor_id}}</p>
{% endblock %}

{% block naslov %}
{{ floor.floor_name|escape}}
{% endblock %}