{% extends "_global/index.html" %}

{% block main %}
    <h1>{{ user.first_name|escape}}</h1>
    <h1>{{ user.last_name|escape}}</h1>
    <p>Izdata soba useru :</p>
    <ul>
        {% for user in users %}
        <li class="user row">
            <div class="col-12 col-sm-2">
                <a href ="{{ BASE }}user/{{ user.user_id }}">
                    {{ user.user_first_name|escape}}
                    {{ user.user_last_name|escape}}
                </a><br>
                    {{ room.room_id|escape}} 
            </div>   
        </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block naslov %}
{{ user.username|escape}}
{% endblock %}