{% extends "_global/index.html" %}

{% block main %}
<form action="{{ BASE }}user/login" method="POST"
        class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">

    <div class="card">
        <div class="card-header">
            User login
        </div>

        <div class="card-body">
        <div class="form-group">
            <label for="input_username">Username:</label>
            <input type="text" id="input_username" name="login_username" required class="form-control"
                    placeholder="Unesite Vase korisnicko ime">
        </div>

        <div class="form-group">
            <label for="input_password">Password:</label>
            <input type="password" id="input_password" name="login_password" required class="form-control"
                    placeholder="Unesite lozinku">
        </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">
                Log in
            </button>
        </div>
    </div>
    <div class="col-12">
        <a href="{{ BASE }}user/register">Registracija</a>
    </div>
</form>
{% endblock %}