{% extends "_global/index.html" %}
{% block main %}
{% apply spaceless %}
<div class="col-12">
    <a href="{{ BASE }}user/login">Login</a>
</div>
<div class="row">
<form action="{{ BASE }}user/register" method="POST" onsubmit="return validateFormRegister();"
            class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <div class="card">
        <div class="card-header">
            User registration
        </div>    
        <div class="card-body">
        <div class="form-group">
            <label for="input_email">E-mail:</label>
            <input type="email" id="input_email" name="reg_email" required class="form-control"
                    placeholder="Unesite Vas E-mail">
        </div>
        
        <div class="form-group">
            <label for="input_first_name">First name:</label>
            <input type="text" id="input_first_name" name="reg_first_name" required class="form-control"
                    placeholder="Unesite Vase ime">
        </div>

        <div class="form-group">
            <label for="input_last_name">Last name:</label>
            <input type="text" id="input_last_name" name="reg_last_name" required class="form-control"
                    placeholder="Unesite Vase prezime">
        </div>

        <div class="form-group">
            <label for="input_username">Username:</label>
            <input type="text" id="input_username" name="reg_username" required class="form-control"
                    placeholder="Unesite Vase zeljeno korisnicko ime">
        </div>

        <div class="form-group">
            <label for="input_password_1">Password:</label>
            <input type="password" id="input_password_1" name="reg_password_1" required class="form-control"
                    placeholder="Unesite svoju lozinku">
        </div>
        
        <div class="form-group">
            <label for="input_password_2">Repeat password:</label>
            <input type="password" id="input_password_2" name="reg_password_2" required class="form-control"
                    placeholder="Ponovite svoju lozinku">
        </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">
                Register
            </button>
        </div>
    </div>
    <div class="alert alert-warning d-none" id="error-message"></div>
</form>
</div>
{% endapply %}
{% endblock %}