{% extends "_global/index.html" %}
{% block main %}
{% apply spaceless %}
<div class="row">   
        {% for client in clients %}
        <div class="card-body"> 
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center client">
                <a href="{{ BASE }}client/{{ client.client_id}}" class="client-tittle"> 
                    {{ client.first_name|escape|title }}
                    {{ client.last_name|escape|title }}
                    {{ client.email|escape }}   
                </a>
            </div>
        </div>
        {% endfor %}
</div>
<div class="row">
    <div class="card-body col-12 col-sm-6 col-md-4">       
        <a href="{{ BASE }}user/client/" class ="klijenti col-12 col-sm-6 col-md-4">Klijenti  {{ "now"|date("m/d/Y") }}</a>
           
        <a href="{{ BASE }}user/occupancy/" class="zauzece col-12 col-sm-6 col-md-4">Zauzetost  {{ "now"|date("m/d/Y") }}</a>
            
        <a href="{{ BASE }}user/room/" class="sobe col-12 col-sm-6 col-md-4" >Sobe  {{ "now"|date("m/d/Y") }}</a>
            
        <a href="{{ BASE }}user/hall/" class="sale col-12 col-sm-6 col-md-4">Sale  {{ "now"|date("m/d/Y") }}</a>
    </div>                      
</div>
<!--<div class="users">
        {% for user in users%}
            <a href="/user/{{ user.user_id}}" class = "users">
                {{ user.first_name|escape }}
                {{ user.last_name|escape }}
                {{ user.email|escape }}
            </a>
        {% endfor %}
</div>-->
{% endapply %}
{% endblock %}