{% extends "_global/index.html" %}

{% block main %}
<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center category">
    
        <p>{{ message }}</p>

        <p>Klikni <a href="{{ BASE }}user/register">ovde</a>da se vratis nazad</p>
    
</div>

{% endblock %}