{% extends "_global/index.html" %}

{% block main %}
    <div>
        <div class="card-body col-12 col-sm-6 col-md-4 text-center">
            <p>{{ message }}</p>

            <p>Klikni <a href="{{ BASE }}user/login">ovde</a> da se vratis nazad</p>
        </div>
    </div>
{% endblock %}