.social-icons {  
    margin-bottom: 10px;
    margin-top:  10px;
 }
 .social-icons a i.fa {
    color: rgba(28, 148, 179, 0.788);
    font-size: 20pt;
    display: inline-block;
    margin: 5px;
}
.bookmark-card {
    margin: 20px 0;
}
.client {
    width:  50%;
    text-align: center;
    padding: 50px 0px;
    border: 1px solid #000;
    background: rgba(204, 204, 204);
    text-decoration: none;
    color: #000;
}
.client:hover {
    border: 1px solid #000;
    background: rgba(243, 243, 243);
}
.blockquote-footer {
    text-align: center;
    padding-bottom: 10px;
/*.login { text-align:right;}
/**{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    margin: 0 auto;
    width: 900px;    
}
.site-header{
    display: grid;
    grid-template-areas: "banner social"
                         "banner login"
                         "menu menu";
}

.banners { grid-area: banner; background-color: rgba(241, 199, 163); }

.login {grid-area: login; text-align:right;}
.login form {
    float: right;
    padding-top: 10px;
}
.login form input{
    float: right;
    width: 140px;
    height: 30px;
    padding: 0px 10px;
    margin-right: 10px;
    border: none;
    background-color: rgba(204, 204, 204);
    font-family: Arial;
    font-size: 14px;
    color: rgba(17, 17, 17);
    line-height: 30px;
}
.login form button{
    float: right;
    width: 60px;
    height: 30px;
    margin-right: 10px;
    border: none;
    background-color: rgba(243, 243, 243);
    font-family: Arial;
    font-size: 14px;
    color: rgba(17, 17, 17);
    cursor: pointer;
}
.login form button:hover{
    background-color:rgba(204, 204, 204);

}
.main-menu { 
    grid-area: menu;
    margin: 20px 0px;
}
.main-menu > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    padding-top: 15px;
}
.main-menu > ul > li {
    text-align: center;
    flex-grow: 1;
}
.main-menu > ul > li > a {
    padding: 10px 0px;
    display: block;
    text-decoration: none;
    color: #000;
}
.main-menu > ul > li :hover {
    background: rgba(100, 100, 100, 0.3);
}

.clients {
    padding-top: 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    flex-wrap: wrap;
}

.client {
    width:  50%;
    text-align: center;
    padding: 75px 100px;
    border: 1px solid #000;
    background: rgba(204, 204, 204);
    text-decoration: none;
    color: #000;
}
.client:hover {
    border: 1px solid #000;
    background: rgba(243, 243, 243);
}
.userdashboard {
    padding-top: 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    flex-wrap: wrap;
}
.klijenti {
    width:  50%;
    text-align: center;
    padding: 75px 100px;
    border: 1px solid #000;
    background: rgba(204, 204, 204);
    text-decoration: none;
    color: #000;
}
.klijenti:hover {
    border: 1px solid #000;
    background: rgba(243, 243, 243);
}
.zauzece  {
    width:  50%;
    text-align: center;
    padding: 75px 100px;
    border: 1px solid #000;
    background: rgba(204, 204, 204);
    text-decoration: none;
    color: #000;
}
.zauzece:hover {
    border: 1px solid #000;
    background: rgba(243, 243, 243);
}
.sobe {
    width:  50%;
    text-align: center;
    padding: 75px 100px;
    border: 1px solid #000;
    background: rgba(204, 204, 204);
    text-decoration: none;
    color: #000;
}
.sobe:hover {
    border: 1px solid #000;
    background: rgba(243, 243, 243);
}
.sale {
    width:  50%;
    text-align: center;
    padding: 75px 100px;
    border: 1px solid #000;
    background: rgba(204, 204, 204);
    text-decoration: none;
    color: #000;
}
.sale:hover {
    border: 1px solid #000;
    background: rgba(243, 243, 243);
}
.site-footer {
    text-align: center;
    padding-bottom: 10px;
}*/