{% extends "_global/index.html" %}
{% block main %}
{% apply spaceless %}
<div class="row">
   <form class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3 card"
      method="POST" enctype="multipart/form-data" onsubmit="return validateForm();">
      <div class="card-header text-center">
         <a class="text-decoration-none" href="{{ BASE }}user/rooms">Lista soba</a>
      </div>
      <div class="row">
         <div class="col-12 col-md-6">
            <div class="form-group">
               <label for="roomname">Ime Sobe</label>
               <input type="text" name="room_name" id="room_name" class="form-control" required
                  title="Unos mora pocinjati velikim slovom ili brojem.">
               <div class="invalid-feedback">
                  Unos mora pocinjati velikim slovom ili brojem.
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-12 col-md-6">
            <div class="form-group">
               <label for="bedCapacity">Broj kreveta</label>
               <input type="number" name="bedCapacity" id="bed_capacity" class="form-control" required>
               <div class="invalid-feedback">
                  Unesite broj kreveta u sobi.
               </div>
            </div>
         </div>
      </div>
      <div class="form-group">
         <label for="image">Slika: </label>
         <input type="file" id="image" name="image" class="form-control" accept="image/jpeg">
      </div>
      <div class="card-footer">
         <button type="submit" class="btn btn-primary">
            Izmeni sobu.
         </button>
      </div>
   </form>
   <script>
      function validateForm() {
         let status = true;

         document.querySelector('#error-message').classList.add('d-none');
         document.querySelector('#error-message').innerHTML = '';


         const roomname = document.querySelector('#input_room_name').value;
         if (!roomname.match(/^[0-9A-ZŠĐŽČĆ]+[A-Z0-9a-zšdžčć ]+$/)) {
            document.querySelector('#error-message').innerHTML += 'Ime mora pocinjati velikim slovom ili brojem...<br>';
            document.querySelector('#error-message').classList.remove('d-none');
            status = false;
         }

         const bedCapacity = document.querySelector('#input_bed_capacity').value;
         if (!bedCapacity.match(/^[0-9]+$/)) {
            document.querySelector('#error-message').innerHTML += 'Unesite broj kreveta u sobi. <br>';
            document.querySelector('#error-message').classList.remove('d-none');
            status = false;
         }

         return status;
      }
   </script>
</div>
{% endapply %}
{% endblock %}