{% extends "_global/index.html" %}
{% block main %}
{% apply spaceless %}
<div >       
     <div class="text-center">
         <a class="text-decoration-none" href="{{ BASE }}user/rooms">Lista svih soba</a>
     </div> 
     <p class="text-center">
        {{ message }}
    </p>
</div>
{% endapply %}
{% endblock %}