{% extends "_global/index.html" %}
{% block main %}
{% apply spaceless %}
<div >       
    <div class="text-center" style="margin-top: 15px;">
         <a class="text-decoration-none" href="{{ BASE }}user/rooms/add">Add new room</a>
    </div> 

    <div class="row">
        {% for room in rooms %}
            <div class="card col-10 offset-1 col-sm-4 offset-sm-2 col-md-3 offset-md-1 col-lg-3 offset-lg-1 col-xl-2 offset-xl-1"
                    style="margin-top: 15px;">
                    
                <div class="card-header text-center ">
                    <li>
                        <a href="{{ BASE }}user/rooms/edit/{{ room.room_id}}" class="text-decoration-none">
                                    {{ room.room_name|escape}}
                                    {{ room.bed_capacity|escape}}
                        </a>
                    </li>
                </div>
                <div class="card-body">
                    <a>
                        <img src="{{ BASE }}assets/uploads/{{ room.image_path }}" class="img-fluid"
                            style="width: 100%; height:100%;" alt="Slika sobe - {{ room.brand }}">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endapply %}
{% endblock %}