{% extends "_global/index.html" %}

{% block main %}
<ul>
    {% for feature in features %}
    <li class="feature row">
        <div class="col-12 col-sm-2">
            <a href="{{ BASE }}feature/{{ feature.feature_id }}" class="feature-big-image">
                <img src="{{ BASE }}assets/uploads/{{ feature.feature_id }}.jpg" 
                alt="velika slika {{ feature.feature_id }}" class="width-100-percent">
            </a>
        </div>
        <div class="col-12 col-md-9">
            <a href="{{ BASE }}feature/{{ feature.feature_id }}" class="feature-title">
                {{ feature.feature_name|escape }}
            </a><br>
            <span class="feature-description">{{ feature.feature_name|escape }}</span>
        </div>
        <div class="col-12 col-sm-1">
            <span class="feature-price">{{ feature.feature_cena|escape }} RSD</span>
        </div>
    {% endfor %}
</ul>
{% endblock %}

{% block naslov %}
{{ feature.feature_name|escape}}
{% endblock %}