{% extends "_global/index.html" %}

{% block main %}
<ul>
    {% for hall in halls %}
    <li class="hall row">
        <div class="col-12 col-sm-2">
            <a href="{{ BASE }}hall/{{ hall.hall_id }}" class="hall-big-image">
                <img src="{{ BASE }}assets/uploads/{{ hall.hall_id }}.jpg" 
                alt="velika slika {{ hall.hall_id }}" class="width-100-percent">
            </a>
        </div>
        <div class="col-12 col-md-9">
            <a href="{{ BASE }}hall/{{ hall.hall_id }}" class="hall-title">
                {{ hall.hall_name|escape }}
            </a><br>
            <span class="hall-description">{{ hall.seating_capacity|escape }}</span>
        </div>
        <div class="col-12 col-sm-1">
            <span class="hall-price">{{ hall.hall_cena|escape }} RSD</span>
        </div>
    {% endfor %}
</ul>
{% endblock %}

{% block naslov %}
{{ hall.hall_name|escape}}
{% endblock %}