{% extends "_global/index.html" %}
{% block main %}
{% apply spaceless %}
<div class="row">
   <form class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3 card"
      method="POST" enctype="multipart/form-data" onsubmit="return validateFormRegister();">
      <div class="card-header text-center">
         <a class="text-decoration-none" href="{{ BASE }}user/clients">Lista klijenata</a>
      </div>
      <div class="row">
         <div class="col-12 col-md-6">
            <div class="form-group">
               <label for="firstname">Ime</label>
               <input type="text" name="first_name" id="first_name" class="form-control" required
                  title="Unos mora pocinjati velikim slovom.">
               <div class="invalid-feedback">
                  Unos mora pocinjati velikim slovom.
               </div>
            </div>
         </div>

         <div class="col-12 col-md-6">
            <div class="form-group">
               <label for="lastname">Prezime</label>
               <input type="text" name="last_name" id="last_name" class="form-control" required
                  title="Unos mora pocinjati velikim slovom.">
               <div class="invalid-feedback">
                  Unos mora pocinjati velikim slovom.
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-12 col-md-6">
            <div class="form-group">
               <label for="phone">Broj telefona</label>
               <input type="text" name="phone" id="phone" class="form-control" required>
               <div class="invalid-feedback">
                  Unesite telefon da pocinje simbolom + pracen sa 6 do 24 cifara.
               </div>
            </div>
         </div>

         <div class="col-12 col-md-6">
            <div class="form-group">
               <label for="email">Adresa e-pošte</label>
               <input type="email" name="email" id="email" class="form-control"
                  pattern="^([a-zA-Z0-9_\\-\\.]+)@([a-zA-Z0-9_\\-\\.]+)(\\.[a-zA-Z]{2,5}){1,3}$" required>
            </div>
         </div>
      </div>

      <div class="card-footer">
         <button type="submit" class="btn btn-primary">
            Edit klijenta
         </button>
      </div>
   </form>
   <script>
      function validateFormRegister() {
         let status = true;

         document.querySelector('#error-message').classList.add('d-none');
         document.querySelector('#error-message').innerHTML = '';

         const email = document.querySelector('#input_email').value;
         if (!email.match(/^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)(\.[a-zA-Z]{2,5}){1,3}$/)) {
            document.querySelector('#error-message').innerHTML += 'Email mora biti u formatu example@mail.domen...</br>';
            document.querySelector('#error-message').classList.remove('d-none');
            status = false;
         }

         const firstname = document.querySelector('#input_first_name').value;
         if (!firstname.match(/^[A-ZŠĐŽČĆ][a-zšdžčć]+([ \\-][A-ZŠĐŽČĆ][a-zšdžčć]+)?$/)) {
            document.querySelector('#error-message').innerHTML += 'Ime mora pocinjati velikim slovom i mora imati najmanje 2 uzastopna vidljiva karaktera...</br>';
            document.querySelector('#error-message').classList.remove('d-none');
            status = false;
         }

         const lastname = document.querySelector('#input_last_name').value;
         if (!lastname.match(/^[A-ZŠĐŽČĆ][a-zšdžčć]+([ \\-][A-ZŠĐŽČĆ][a-zšdžčć]+)?$/)) {
            document.querySelector('#error-message').innerHTML += 'Prezime mora pocinjati velikim slovom i mora imati najmanje 2 uzastopna vidljiva karaktera...</br>';
            document.querySelector('#error-message').classList.remove('d-none');
            status = false;
         }

         const phone = document.querySelector('#input_phone').value;
         if (!phone.match(/^([a-zA-Z0-9_\\-\\.]+)@([a-zA-Z0-9_\\-\\.]+)(\\.[a-zA-Z]{2,5}){1,3}$/)) {
            document.querySelector('#error-message').innerHTML += 'Unesite telefon da pocinje simbolom + pracen sa 6 do 24 cifara.</br>';
            document.querySelector('#error-message').classList.remove('d-none');
            status = false;
         }

         return status;
      }
   </script>
</div>
{% endapply %}
{% endblock %}