{% extends "_global/index.html" %}

{% block main %}
<div>
    <div class="text-center">
        <a class="text-decoration-none" href="{{ BASE }}user/clients">Nazad na listu klijenata</a>
    </div>

    <p class="text-center">
        {{ message|escape }}
    </p>
</div>
{% endblock %}