{% extends "_global/index.html" %}

{% block main %}
<ul>
    {% for room in rooms %}
    <li class="room row">
        <div class="col-12 col-sm-2">
            <a href="{{ BASE }}room/{{ room.room_id }}" class="room-big-image">
                <img src="{{ BASE }}assets/uploads/{{ room.room_id }}.jpg" 
                alt="velika slika {{ room.room_id }}" class="width-100-percent">
            </a>
        </div>
        <div class="col-12 col-md-9">
            <a href="{{ BASE }}room/{{ room.room_id }}" class="room-title">
                {{ room.room_name|escape }}
            </a><br>
            <span class="room-description">{{ room.bed_capacity|escape }}</span>
        </div>
        <div class="col-12 col-sm-1">
            <span class="room-price">{{ room.room_cena|escape }} RSD</span>
        </div>
    {% endfor %}
</ul>
{% endblock %}

{% block naslov %}
{{ room.room_name|escape}}
{% endblock %}