<!DOCTYPE html>
<html>
    <head>
        <title>Hotel - {% block naslov%}Pocetna{% endblock %}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/css/main.css">
        <!--<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">-->
        <script src="{{ BASE }}assets/js/validate.js"></script>
    </head>
    <body>
        <div class="container">
            <header>
                <div class="row">
                    <div class="col col-sm">
                        <a href="{{ BASE }}" >
                        <img src="{{ BASE }}assets/img/banner.png" alt="banner">
                        </a>
                    </div>

                    <div class="col col-sm">
                        <div class="social-icons text-right">
                            <a href = "#"><i class="fab fa-linkedin"></i></a>
                            <a href = "#"><i class="fab fa-facebook-square"></i></a>
                            <a href = "#"><i class="fab fa-instagram"></i></a>
                            <a href = "#"><i class="fab fa-youtube"></i></a> 
                        </div>
                        <div class="login text-right">
                            <form action="{{BASE}}login" method="post">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="usr" placeholder="Username" name="Username"/>
                                        <input type="text" class="form-control" id="psw" placeholder="Password" name="Password"/>
                                        <button type="submit" class="btn btn-primary input-group-append" name="submit">
                                            <i class="fas fa-sign-in-alt"></i></button>
                                    </div>    
                                </div>   
                            </form>
                        </div>
                    </div>
                </div>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" 
                                data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" 
                                aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                                <a class="nav-item nav-link" href="{{ BASE }}"><i class="fas fa-home"></i>Pocetna</a>
                                <a class="nav-item nav-link" href="{{ BASE }}restorani"><i class="fas fa-utensils"></i>Restorani</a>
                                <a class="nav-item nav-link" href="{{ BASE }}konferencije"><i class="fas fa-shapes"></i>Konferencije & Dogadjaji</a>
                                <a class="nav-item nav-link" href="{{ BASE }}room"><i class="fas fa-igloo"></i>Sobe</a>
                                <a class="nav-item nav-link" href="{{ BASE }}hall"><i class="fas fa-chair"></i>Sale</a>
                                <a class="nav-item nav-link" href="{{ BASE }}specijalnePonude"><i class="fas fa-sparkles"></i>Specijalne Ponude</a>
                        </div>
                    </div>
                  </nav>
              
            </header>
                <main>
                    {% block main %}
                    {% endblock %}
                </main>
            <blockquote class="blockquote text-center">
                <footer class="blockquote-footer">
                    <p>Vreme: {{ "now"|date('d. m. Y. H.i', timezone="Europe/Belgrade")}}</p>
                     &copy; 2019 Dragan Glisic... Projekat - Hotel Aplikacija <a href="#">Hotel Dragan</a>
                </footer>
            </blockquote>
        </div>
        <script> const BASE = '{{ BASE }}';</script>  
        <script src="{{ BASE }}assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="{{ BASE }}assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>   
        <script src="{{ BASE }}assets/js/bookmarks.js"></script>
    </body>
</html>